---
import Logo from "@components/Logo.astro";
import menu from "@config/menu.json";
import { IoSearch } from "react-icons/io5/index.js";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
---

<header class="text-gray-600 body-font">
  <div class="container flex flex-col flex-wrap items-center p-6 mx-auto md:flex-row">
    <Logo />
    <nav class="md:ml-auto md:mr-auto">
      <ul class="flex flex-wrap items-center justify-center text-base">
        {
          main.map((menu) => (
            <>
              {menu.hasChildren ? (
                <li class="relative cursor-pointer nav-item nav-dropdown group">
                  <span class="inline-flex items-center nav-link">
                    {menu.name}
                    <svg class="w-5 h-5 mt-1 fill-current" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                  </span>
                  <ul class="absolute right-0 hidden nav-dropdown-list group-hover:block md:invisible md:absolute md:block md:opacity-0 md:group-hover:visible md:group-hover:opacity-100">
                    {menu.children?.map((child) => (
                      <li class="nav-dropdown-item">
                        <a href={child.url} class="nav-dropdown-link">
                          {child.name}
                        </a>
                      </li>
                    ))}
                  </ul>
                </li>
              ) : (
                <li class="nav-item">
                  <a href={menu.url} class="block nav-link">
                    {menu.name}
                  </a>
                </li>
              )}
            </>
          ))
        }
        <!-- <a class="mr-5 hover:text-gray-900">First Link</a>
        <a class="mr-5 hover:text-gray-900">Second Link</a>
        <a class="mr-5 hover:text-gray-900">Third Link</a>
        <a class="mr-5 hover:text-gray-900">Fourth Link</a> -->
      </ul>
      
    </nav>
    <div class="inline-flex items-center px-3 py-1 mt-4 text-base border-0 rounded focus:outline-none md:mt-0">
      <a
        class="inline-block p-2 mr-4 text-xl transition-colors cursor-pointer text-dark hover:text-primary md:mr-0"
        href="/search"
        title="seach"
        aria-label="seach"
      >
        <IoSearch />
      </a>
    </div>
  </div>
</header>
