---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, what_i_do } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-4">
          {image && (
            <div class="mb-8 img-cover">
              <Image
                src={image}
                width={295}
                height={395}
                alt={title}
                class="w-full rounded-lg"
              />
            </div>
          )}
        </div>
        <div class="sm:col-7 md:col-8">
          <h1 set:html={markdownify(title)} class="mb-8 h3" />
    
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-0 section">
    <div class="container">
      <h3 class="mb-20 page-heading">{what_i_do.title}</h3>
      <div class="justify-center text-center row gy-4">
        {what_i_do.items.map((item: any) => (
          <div class="lg:col-4 md:col-6">
            <i class="{{.icon}} fa-3x text-primary mb-4"></i>
            <h4 class="mb-3 text-dark font-weight-700">{item.title}</h4>
            <p>{item.description}</p>
          </div>
        ))}
      </div>
    </div>
  </section>
</Base>
