---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
import dateFormat from "@lib/utils/dateFormat";
import { humanize,slugify } from "@lib/utils/textConverter";
import { BiCalendarEdit,BiCategoryAlt } from "react-icons/bi/index.js";
const { summary_length } = config.settings;
const { className, posts, fluid } = Astro.props;
---

<div class={`row gy-5 gx-4 ${className} ${posts.length == 1 ? "justify-center" : ""} `}>
  {
    posts.map((post: any, i: number) => (
      <div class={i === 0 && fluid != false ? "col-12" : "col-12 sm:col-6"}>
        {post.data.image && (
          <a href={`/${post.slug}`} class="block overflow-hidden rounded-lg hover:text-primary group">
            <Image
              class="group-hover:scale-[1.03] transition-transform duration-300 w-full"
              src={post.data.image}
              alt={post.data.title}
              width={i === 0 ? 925 : 445}
              height={i === 0 ? 475 : 230}
              format={'webp'}
              loading={i === 0 ? 'eager' : 'lazy'}
            />
          </a>
        )}
        <ul class="flex flex-wrap items-center mt-6 mb-4 text-text">
          <li class="flex flex-wrap items-center mr-5 font-medium">
            <BiCalendarEdit className="mr-1 h-5 w-5 text-gray-600" />
            <>{dateFormat(post.data.date)}</>
          </li>
          <li class="flex flex-wrap items-center mr-5">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <>
              <ul>
                {post.data.categories.map((category: string, i: number) => (
                  <li class="inline-block">
                    <a
                      href={`/categories/${slugify(category)}`}
                      class="mr-2 font-medium hover:text-primary"
                    >
                      {humanize(category)}{i !== post.data.categories.length - 1 && ","}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          </li>
        </ul>
        <h3 class="mb-4">
          <a href={`/${post.slug}`} class="block transition duration-300 hover:text-primary">
            {post.data.title}
          </a>
        </h3>
        <p class="text-text">
          {post.body?.slice(0, Number(i === 0 && fluid != false ? summary_length * 2 : summary_length))}...
        </p>
      </div>
    ))
  }
</div>
